Repository Work-Ninjas/portal-api-docs, changes with the owners that CODEOWNERS names for each.
All owners: @henry-github, @claude-github, @architect-github

CODEOWNERS:

# CODEOWNERS (replace with real GitHub users or teams)

*         @henry-github  @claude-github  @architect-github
/docs/    @henry-github  @claude-github
/openapi/ @claude-github @henry-github
/adr/     @henry-github
.github/  @henry-github

Add Portal API documentation homepage
  index.html
Owners: @henry-github, @claude-github, @architect-github

Fix Static Web App deployment workflow
  .github/workflows/azure-static-web-apps.yml
Owners: @henry-github

Update documentation header with deployment status
  index.html
Owners: @henry-github, @claude-github, @architect-github

Implement interactive API documentation with Stoplight Elements
  .claude/settings.local.json
  index.html
  openapi.yaml
  openapi/openapi.yaml
Owners: @henry-github, @claude-github, @architect-github

feat: Add prominent SDK visibility in documentation
  index.html
  openapi/openapi.yaml
Owners: @henry-github, @claude-github, @architect-github

feat: Gate E.2 - Add comprehensive inline code samples with 5 tabs per endpoint
  openapi/openapi.yaml
Owners: @claude-github, @henry-github

fix: Enable code samples display in Stoplight Elements
  index.html
Owners: @henry-github, @claude-github, @architect-github

feat: Switch from Stoplight Elements to Redoc for better x-codeSamples support
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: CSP-compliant solution with Stoplight Elements 7.15.3 for x-codeSamples
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: Restore sidebar navigation and improve code samples detection
  index.html
Owners: @henry-github, @claude-github, @architect-github

docs: remove SDK badges and add authentication sections
  index.html
  openapi/openapi.yaml
Owners: @henry-github, @claude-github, @architect-github

docs: remove SDK links from footer
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: remove duplicate /v1 in API paths
  openapi/openapi.yaml
Owners: @claude-github, @henry-github

feat: enable real API calls with CORS proxy
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: revert CORS proxy - will configure backend CORS instead
  index.html
Owners: @henry-github, @claude-github, @architect-github

feat: enable real API calls without CORS proxy
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: force real API calls by disabling mock mode
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: remove mock examples to force real API calls
  openapi/openapi.yaml
Owners: @claude-github, @henry-github

feat: implement Gate E.3 - strict auth separation with dedicated mock server
  .claude/settings.local.json
  .github/workflows/azure-static-web-apps.yml
  .github/workflows/deploy-mock-server.yml
  .github/workflows/generate-mock-spec.yml
  azure/mock-server/Dockerfile
  azure/mock-server/containerapp.yaml
  docs/security-acceptance-tests.md
  openapi/openapi.mock.yaml
  package-lock.json
  package.json
  scripts/generate-mock-spec.js
  scripts/start-mock-server.sh
Owners: @henry-github, @claude-github, @architect-github

revert: restore working API documentation state
  test.html
Owners: @henry-github, @claude-github, @architect-github

feat: restore complete activity endpoints with all schemas
  .claude/settings.local.json
  docs/openapi.yaml
  openapi/openapi.yaml
Owners: @henry-github, @claude-github, @architect-github

feat: add missing GET /v1/jobs/{jobId} endpoint and enhance Try It functionality
  docs/openapi.yaml
  index.html
  openapi/openapi.yaml
Owners: @henry-github, @claude-github, @architect-github

fix: enable Try It buttons with correct Stoplight Elements configuration
  index.html
Owners: @henry-github, @claude-github, @architect-github

test: add simple Try It test page
  test-tryit.html
Owners: @henry-github, @claude-github, @architect-github

debug: add comprehensive Try It debugging and enhanced configuration
  index.html
Owners: @henry-github, @claude-github, @architect-github

fix: correct server URLs to prevent double /v1 in API calls
  docs/openapi.yaml
  openapi/openapi.yaml
Owners: @henry-github, @claude-github

fix: standardize all IDs to UUID format for consistency
  .claude/settings.local.json
  docs/openapi.yaml
  index.html
  openapi/openapi.yaml
Owners: @henry-github, @claude-github, @architect-github

fix: standardize all individual resource endpoints to UUID format like activity
  docs/openapi.yaml
  openapi/openapi.yaml
Owners: @henry-github, @claude-github

docs(stoplight): remove tryIt CORS proxy
  index.html
Owners: @henry-github, @claude-github, @architect-github
